@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


:root {
    /* Palette 1 */
    /* --darkest: #211919;
    --dark: #523a2a;
    --mid: #8a6b3e;
    --light: #c19c4d;
    --lightest: #eadb74;
    --accent: #21fdf2;
    --dark_accent: #4a807d; */
    /* Palette 2 */
    --darkest: #111E33;
    --dark: #182A47;
    --mid: #4B5B75;
    --light: #5391F5;
    --lightest: #9EC0F7;
    --accent: #F5C053;
    --dark_accent: #A87918;

    --main_font: 'VT323', monospace;
  }

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas:
    "nav nav nav"
    "main main main"
    "footer footer footer"
    ;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10% 70% 10%;
    margin: 10px;
    font-family: var(--main_font);
    background-color: var(--darkest);
    justify-content: center;
}

main {
    display: flex;
    grid-area: main;
    padding: 5px;
    margin-top: 2px;
    height: calc(100vh - 100px);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-left: 2px solid var(--lightest);
    border-top: 2px solid var(--lightest);
    border-right: 2px solid var(--dark);
    border-bottom: 2px solid var(--dark);
    background-color: var(--mid);
    overflow-y: scroll;
    text-shadow: var(--lightest) 1px 0 5px;
}

main.home {
    background-image:
        url("assets/landing_front.png"),
        url("assets/landing_back.png");
    background-repeat: repeat-x;
    background-position: bottom; 
    background-attachment: scroll;
    transition: background-position 15s cubic-bezier(.48,.01,.52,.99);
    transition-delay:1s;
}

main.home:hover {
    background-position:
        right 4000px bottom,
        right 3200px bottom;
    transition: 40s cubic-bezier(.28,.01,.52,.99);
}

footer {
    display: flex;
    grid-area: footer;
    align-self: auto;
    background-color:var(--dark);

}
span {
    color: var(--accent);
    text-shadow: black 1px 0 5px;
}

nav {
    grid-area: nav;
    display: flex;
    font-size: 1.5rem;
    color: var(--lightest);
}

a {
    display: flex;
    padding: 0px 5px;
    text-decoration: none;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    color: var(--lightest);
}

a.on_page {
    margin-bottom: -4px;
    border-left: 2px solid var(--lightest);
    border-top: 2px solid var(--lightest);
    border-right: 1px solid var(--dark);
    color:var(--accent);
    background-color:var(--mid);
    text-shadow: var(--darkest) 1px 0 5px;
    z-index: 1;
}

a.on_page:hover {
    color: white;
    transition: 0.5s;
}

a.off_page:hover {
    background-color: var(--dark);
    color: white;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

span:hover {
    text-shadow: var(--accent) 1px 0 10px;
    transition:2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

section.card-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 2px 2px;
    gap: 2px;
    border: 2px solid var(--lightest);
    overflow-y: scroll;
    justify-content: space-around;
    align-content: flex-start;
    background-color:var(--dark);
}

section.card-grid.blog {
    width: 100%;
    padding: 2px;
    gap: 2px;
}

.project-card {
    display: inline;
    flex: 1;
    position: relative;
    min-width: 140px;
    max-width: 180px;
    height: 200px;
    border-left: 2px solid var(--lightest);
    border-top: 2px solid var(--lightest);
    border-right: 2px solid var(--darkest);
    border-bottom: 2px solid var(--darkest);
    background-color: var(--light);
}

.project-card:hover {
    border-left: 3px solid var(--darkest);
    border-top: 3px solid var(--darkest);
    border-right: 3px solid var(--lightest);
    border-bottom: 3px solid var(--lightest);
    /* vv margin to account for border increase vv */
    margin: -1px;
}

.blog-card {
    display: grid;
    grid-template-areas:
        "img title"
        "img blurb";
    grid-template-rows: 2rem 2fr;
    grid-template-columns: 200px 1fr;
    width: 100%;
    height: 200px;
    padding: 5px;
    border-left: 2px solid var(--lightest);
    border-top: 2px solid var(--lightest);
    border-right: 2px solid var(--darkest);
    border-bottom: 2px solid var(--darkest);
    background-color: var(--light);
    align-items: center;
}

.blog-card:hover {
    border-left: 3px solid var(--darkest);
    border-top: 3px solid var(--darkest);
    border-right: 3px solid var(--lightest);
    border-bottom: 3px solid var(--lightest);
    /* vv margin to account for border increase vv */
    margin: -1px;
}

.blog-card img {
    grid-area: img;
    display: flex;
    /* position: relative; */
    width: 180px;
    height: 180px;
    /* padding: 20px; */
    object-fit: fill;
}

.blog-card h2 {
    grid-area: title;
    display: flex;
}

.blog-card p {
    grid-area: blurb;
    display: flex;
}