@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
:root {
  /* Palette 1 */
  --darkest: #211919;
  --dark: #523a2a;
  --mid: #8a6b3e;
  --light: #c19c4d;
  --lightest: #eadb74;
  --accent: #21fdf2;
  --dark_accent: #4a807d;
  /* Palette 2 */
  --main_font: "VT323", monospace;
  --title_font: "Lobster", cursive;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-areas: "nav nav nav" "main main main" "footer footer footer";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2rem minmax(auto, 550px) 2rem;
  padding: 10px 10px;
  margin: 0px auto;
  font-family: var(--main_font);
  background-color: var(--darkest);
  justify-content: center;
  height: 100vh;
}

main {
  display: flex;
  grid-area: main;
  padding: 5px;
  margin-top: 2px;
  height: calc(100vh - 100px);
  max-height: 700px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-left: 2px solid var(--lightest);
  border-top: 2px solid var(--lightest);
  border-right: 2px solid var(--dark);
  border-bottom: 2px solid var(--dark);
  background-color: var(--light);
  text-shadow: var(--lightest) 1px 0 5px;
}
main.home {
  background-image: url("assets/landing_front.png"), url("assets/landing_logo.png"), url("assets/landing_back.png");
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: repeat-x;
  transition: background-position 15s cubic-bezier(0.48, 0.01, 0.52, 0.99);
  transition-delay: 1s;
  justify-content: center;
}
main.home p {
  display: flex;
  width: 100%;
  color: var(--accent);
  font-size: 1.2rem;
  justify-self: center;
  text-align: center;
  text-shadow: var(--darkest) 2px 0 3px;
  background-color: rgba(33, 25, 25, 0.7);
  border-radius: 2px;
}
main.home:hover {
  background-position: right 4000px bottom, right bottom, right 3200px bottom;
  transition: 40s cubic-bezier(0.28, 0.01, 0.52, 0.99);
}
main.contacts {
  background-image: url("assets/landing_front.png"), url("assets/landing_back.png");
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: repeat-x;
  transition: background-position 15s cubic-bezier(0.48, 0.01, 0.52, 0.99);
  transition-delay: 1s;
  flex-wrap: wrap;
  justify-content: center;
}
main.contacts p {
  display: block;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: var(--accent);
  font-size: 1.2rem;
  justify-self: center;
  text-align: center;
  text-shadow: var(--darkest) 2px 0 3px;
  background-color: rgba(33, 25, 25, 0.7);
  border-radius: 2px;
}
main.contacts span {
  display: flex;
  justify-content: center;
}
main.contacts span a:hover {
  text-shadow: var(--lightest) 0px 0 3px;
  cursor: pointer;
}
main.contacts:hover {
  background-position: right 4000px bottom, right 3200px bottom;
  transition: 40s cubic-bezier(0.28, 0.01, 0.52, 0.99);
}
main.contacts .socials-container {
  display: flex;
  flex: 1;
  height: 70%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
main.contacts .socials-container .unique-social {
  min-width: 300px;
  max-width: 500px;
  display: flex;
  flex: 1;
  align-items: top;
  justify-content: center;
}
main.contacts .socials-container .unique-social img {
  display: flex;
  width: 100px;
  height: 100px;
  filter: drop-shadow(1px 0px 3px);
}
main.contacts .socials-container .unique-social a {
  display: inherit;
  position: absolute;
  width: 100px;
  height: 100px;
  left: 50;
  right: 50;
  top: 50;
  bottom: 50;
  z-index: 1;
}
main.contacts .socials-container .unique-social a:hover {
  background-color: rgba(33, 253, 242, 0.2);
  filter: blur(10px);
}

footer {
  display: flex;
  grid-area: footer;
  justify-content: right;
  align-self: auto;
  font-family: var(--title_font);
  font-size: 1rem;
  color: var(--dark);
}

span {
  color: var(--accent);
  text-shadow: black 1px 0 5px;
}
span:hover {
  text-shadow: var(--accent) 1px 0 10px;
  transition: 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

nav {
  grid-area: nav;
  display: flex;
  font-size: 1.5rem;
  color: var(--lightest);
}

a {
  display: flex;
  padding: 0px 5px;
  text-decoration: none;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  color: var(--lightest);
}
a.on_page {
  margin-bottom: -4px;
  border-left: 2px solid var(--lightest);
  border-top: 2px solid var(--lightest);
  border-right: 1px solid var(--dark);
  color: var(--accent);
  background-color: var(--light);
  text-shadow: var(--darkest) 1px 0 5px;
  z-index: 1;
}
a.on_page:hover {
  color: white;
  transition: 0.5s;
}
a.off_page:hover {
  background-color: var(--dark);
  color: white;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card-grid {
  padding: 2px 2px;
  border: 2px solid var(--lightest);
  overflow-y: scroll;
  background-color: var(--dark);
}
.card-grid.projects {
  display: grid;
  gap: 2px;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: 200px;
}

.card {
  display: flex;
  flex: 1;
  border-left: 2px solid var(--lightest);
  border-top: 2px solid var(--lightest);
  border-right: 2px solid var(--darkest);
  border-bottom: 2px solid var(--darkest);
}
.card:hover {
  border-left: 3px solid var(--darkest);
  border-top: 3px solid var(--darkest);
  border-right: 3px solid var(--lightest);
  border-bottom: 3px solid var(--lightest);
  /* vv margin to account for border increase vv */
  /* margin: -1px; */
}
.card.projects {
  display: grid;
  grid-template-areas: "project_img" "title" "progress";
  background-color: var(--light);
  grid-template-columns: auto;
  grid-template-rows: 130px auto 1fr;
  min-width: 150px;
  max-width: 200px;
  height: 200px;
  justify-content: center;
}
.card.projects .thumbnail {
  display: flex;
  width: 98%;
  height: 100%;
  flex: 1;
  -o-object-fit: cover;
     object-fit: cover;
  grid-area: project_img;
}
.card.projects h3 {
  display: flex;
  flex: 1;
  grid-area: title;
  justify-self: center;
  background-color: var(--accent);
}
.card.projects .progress {
  display: flex;
  flex: 1;
  grid-area: progress;
  -o-object-fit: contain;
     object-fit: contain;
}

/* Tablet */
@media only screen and (min-width: 481px) and (max-width: 960px) {
  body {
    max-width: 800px;
  }
}
/* Desktop */
@media only screen and (min-width: 961px) {
  body {
    max-width: 800px;
  }
}/*# sourceMappingURL=style.css.map */